body {
    align-items: center;
    box-sizing: border-box;
}
#heading {
    
    text-align-last: center;
    clear:both;
}
div.main {
    background-color: grey;
    float: left;
    width: 29%;
    height: 200px;
    border: 10px solid black;
    padding: 0px 0px 10px 10px;
    margin: 10px 10px 10px 25px;
    clear: right;
}
.subheading {
    float: right;
    background-color: red;
    width: 100px;
    height: 30px;
    text-align: center;
    clear: both;
    align-items: middle;
    font-weight: bold;
    color: white;
    padding-top: 10px;
}
p {
    float: left;
}
#subh1 {
    background-color: pink;
    color: black;
}
#subh2 {
    background-color: brown;
    color: white;
}
#subh3 {
    background-color: burlywood;
    color: black;
}
@media (min-width: 992px) {
     div.main { 
        width: 26.5%;      
}
}
@media (min-width:768px) and (max-width:991px) {
     div.main { 
        width: 40%;      
}
     #third { 
        width: 86%;
        padding: 0px 10px 10px 10px;
        margin: 10px 10px 10px 25px;      
}
}
@media (min-width: 1px) and (max-width:767px) {
     div.main{ 
        width: 80%;
        margin-left: 30px;
        margin-right: 30px;
}
}